@border-color: #313131;

body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: grey;
	background: linear-gradient(to bottom, #898989 0%,#808080 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #423F37;
	/*font-size: 1.05em;*/
}

#container {
	margin: 0 auto;
	/*width: 800px;*/
	max-width:50em;
	background: white;
	padding: 0 2em;
	height: 100%;
	box-shadow: 0px 0px 6px @border-color;
	border-left: 1px solid @border-color;
	border-right: 1px solid @border-color;
	display:table
}

div.header {
	padding: 1px 1em;
}

h1, h2 {
	font-family: 'Actor', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 3em;
}

h2 {
	margin-top: 0;
}

#photo {
	padding: 8px;
	border: 1px solid gray;
	vertical-align: middle;
}

p {
	font-family: 'Open Sans', sans-serif;
}

table {
	width: 100%;
	border-spacing: 1em;
}

td {
	padding: 0.7em 1em;
	border: 1px solid gray;
	width: 45%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: top;
}

ul {
	padding-left: 0.8em;
}

.footnote {
	font-size: 0.7em;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #0e73c6 /* Original: 1E93E6; */
}

a:hover {
	text-decoration: underline;
}
