@border-color: #313131;

body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: grey;
	background: linear-gradient(to bottom, #898989 0%,#808080 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #423F37;
	/*font-size: 1.05em;*/
}

#container {
	margin: 0 auto;
	/*width: 800px;*/
	max-width:50em;
	background: white;
	padding: 0 2em;
	height: 100%;
	box-shadow: 0px 0px 6px @border-color;
	border-left: 1px solid @border-color;
	border-right: 1px solid @border-color;
	display:table
}

header {
	padding: 2em 1em;
	clear: both;
	margin-bottom: 9em;
}

header img {
	margin-right: 1em;
	float:left; /* right looks good too*/
	vertical-align: middle;
	margin-bottom: -3em;

}

h1, h2 {
	font-family: 'Actor', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	margin-top: 1em;
	float: left;
}

h2 {
	margin-top: 0;
}

#photo {
	padding: 8px;
	border: 1px solid gray;
	vertical-align: middle;
}

p, div {
	font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 54em) {
	div.box {
		padding: 0.7em 1em 0 1em;
		border: 1px solid gray;
		width: 21em;
		float:left;
		font-family: 'Open Sans', sans-serif;
		vertical-align: top;
		margin: 0 0 1em 1em;
	}
}

ul {
	padding-left: 0.8em;
}

.footnote {
	font-size: 0.7em;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #0e73c6 /* Original: 1E93E6; */
}

a:hover {
	text-decoration: underline;
}

.group {
	clear: both;
}