html {
	overflow-y: scroll;
	height: 100%
}

body {
	height: 100%;
	margin: 0px;

	background-color: #36332D; /*#dbdadb;*/
	/*font-family: "Arial", "Helvetica", "Verdana", "sans-serif";*/
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font: 15px/1.5 'Droid Sans',Verdana,sans-serif;
}

#main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
    display: none;
}

h1 {
	color: #ffffff; /*dededef*/
	font-family: "Trebuchet MS", Verdana, sans-serif;
	padding: 0;
	margin: 0.6em 0 0.6em 0.6em;
	text-shadow: #888888 0px 0px 18px;
}

.h1-wrapper {
	background: #ffffff;
	-moz-border-radius: 20px 5px;
	-webkit-border-radius: 20px 5px;
	border-radius: 20px 5px;
	padding: 5px;
}

.ui-accordion-content {
	font: 15px/1.5 'Droid Sans',Verdana,sans-serif;
}

.html-css {
	cursor: help;
	border-bottom: 1px dashed;
}

p.introduction:first-letter {
	font-size: 300%;
	font-weight: bold;
	float: left;
	width: 1em;
	margin-top: 5px;
}

#chartdiv .jqplot-point-label {
	border: 1.5px solid #aaaaaa;
	padding: 1px 3px;
	background-color: #eeccdd;
}

.shadow {
	 box-shadow: 5px 5px 8px #000000;
	-moz-box-shadow: 5px 5px 8px #000000;
	-webkit-box-shadow: 5px 5px 8px #000000;
}

.jqplot-axis {
	color: #fff;
}

.jqplot-highlighter-tooltip {
	color: #e1e1e1;
}
