{% extends "_base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<h2>Brownies</h2>
<p>
    Ordinary brownies.
<h3>Ingredients</h3>
<ul>
    <li>2 cups of whole flour</li>
    <li>2 cups of sugar</li>
    <li>0.75 cups of unsweetened cocoa</li>
    <li>1 spoon salt</li>
    <li>1 spoon baking poder</li>
    <li>1 cup water</li>
    <li>1 cup vegetable oil</li>
    <li>1 spoon vanilla escence</li>
    <li>2 handfulls of grinded nuts</li>
</ul>

<h3>Preparation</h3>
<p>
    Thoroughy mix all the non-liquid ingredient in a large bowl. Add the liquid ingredients. Mix until it's perfectly uniform.
    <br>
    Pour into a large, rectangular baking tray. I used a gas-based oven. Heat it to medium, and cook for about 30 minutes. Done.


<!-- Loosely inspired by:
http://allrecipes.com/Recipe/Vegan-Brownies/
-->
<div class="group"></div>

{% endblock %}
