{% extends "_base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<h2>Recipes</h2>
<p>
    Since I'm such a lover of sharing and free knowledge, I've put up this section with recipes for stuff I cook or cooked. It's also a reference for friends who ask "How do you do ___?", and, for course, for myself in the future.
    <br>
    All of these recipes are vegan-friendly.

<ul>
    <li><a href="okara-cookies.html">Almond Okara Cookies</a></li>
    <li><a href="brownies.html">Brownies</a></li>
    <li><a href="potato-curry.html">Potato Curry</a></li>
</ul>

{% endblock %}
