{% extends "_base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<h2>Almond Okara Cookies</h2>
<p>
    I first made these rather simple cookies since I had no idea what to do with all the leftover <a href="https://en.wikipedia.org/wiki/Okara_%28food%29">okara</a> the first time I made <a href="almond-milk.html">almond milk</a>.
    <br>
    I'll update this as I refine the recipe.
<h3>Ingredients</h3>
<ul>
    <li>300g almond okara</li>
    <li>300g whole wheat flour</li>
    <li>1 teaspoon salt</li>
    <li>1 teaspoon baking powder</li>
    <li>150g raisins</li>
    <li>150g nuts (crushed)</li>
    <li>Sugar</li>
</ul>
You might also need some (almond) milk if the mixture ends up being solid to manipulate.

<h3>Preparation</h3>
<p>
    Mix all the ingredients in a bowl, until it's got a pretty uniform and maleable. Add some milk if it got too hard. Add more flour if it gets too soft.
    <br>
    I used a gas-based oven. Heat it to medium, put the cookies in, wait ~18 minutes, turn them around, wait another 18 minutes, and you're done.


<!-- Loosely inspired by:
http://pan-amor-y-fantasia.blogspot.com.ar/2012/02/galletas-de-okara-veganas-con-chips-de.html
-->
<div class="group"></div>

{% endblock %}
