{% extends "_base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<h2>Potato Curry</h2>
<p>
    I read about ~4-6 recipes, and then made this up using those as a reference. It's a pretty filling food, and one of the few dishes I know that's still really good once it's cooled down.
    <br>
    <img class="in-article" src="/assets/img/recipes/potato-curry.jpg" alt="Potato curry">
<h3>Ingredients</h3>
<ul>
    <li>3-4 medium-sized potatoes, cubed</li>
    <li>1 large onion, chopped</li>
    <li>5 garlic cloves</li>
    <li>1 cup broth, chopped</li>
    <li>1 tomato, cubed<li>
    <li>cumin, ground pepper, curry powder, nutmeg and ginger</li>
    <li>shredded coconut</li>
    <li>&frac12; kilo of chickpea, left to soak overnight</li>
</ul>
I'd try using coconut milk instead of the shredded coconut as a nice variant as
well.

<h3>Preparation</h3>
<p>
    Boil the potatoes until well cooked.
    <br>
    On a side, fry the onion and garlic until the onion is well done. Add the
    spices and broth, and cook for a few more minutes
    <br>
    Add the tomato, chickpea, the potatoes, and coconut. Cook for 10 more
    minutes. Serve, and eat!

<div class="group"></div>

{% endblock %}
