body {

}

/** HEADER **/
.header {
	margin-top: 30px;
	margin-bottom: 30px;
	width:100%;
	margin-left:50px;
}
.header-name {

/*nuevo*/
	background: #cc7a17;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	color: #ffffff;
	text-align: center;
/*nuevo.end*/


	font-family: Sans-serif;
	font-size: 30px;
	/*color: #9a521b;*/
	border-bottom: 2px solid #cc7a17;
}
.header-info {
	color: #cc7a17;
	font-size: 16px;
	font-weight: normal;
/*font-family: arial, helvetica, sans-serif;*/
}
.header-logo {
	
}

/** H1 **/
h1 {
	color: #cc7a17;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 8px;
	border-bottom: 3px solid #cc7a17;
	margin-left: 50px;
	font-family: arial, helvetica, sans-serif;
}
.h1-logo {
	width: 50px;
}

td.header1 {
	width: 100%;
}

/** H2 **/
h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #cc7a17;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid #cc7a17;
	font-family: arial, helvetica, sans-serif;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #cc7a17;
	font-size: 18px;
	font-weight: normal;
}

.experiencia-cargo {
	border-bottom: 1px solid #cc7a17;
}

.h2-lugar-trabajo {
	float: left;
}
.h2-fechas-trabajo {
	float: right;
}

.fechas-cursos {
	float: right;
}

/** LISTS **/
li {
	color: #cc7a17;
	list-style: square;
}
.li-content {
	color: black;
}

/** TEXT **/
p {
}
.text {
	margin-left: 58px;
	font-family: arial, helvetica, sans-serif;
}
.left-of-text {}

.main-table {
	position:absolute;
	left: 50%;
	width: 936px;
	margin-left: -468px
}

.first-level-table {
	width: 100%;
}

.second-level-table {
	width: 100%;
	margin-left: 8px;
}

.html-css {
	cursor: help;
	border-bottom: 1px dashed;
}


/*
.circle {
	display: block;
	display: block;
	width: 80px;
	height: 80px;
	background: #333;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
}
*/


/*
	background-image:url('paper.gif');
	background-repeat:no-repeat;
	repeat repeat-x repeat-y inherit
	*/

/*

<div id="textbox">
  <p class="alignleft">Text on the left.</p>
  <p class="alignright">Text on the right.</p>
</div>

.alignleft {
float: left;
}
.alignright {
float: right;
}
*/

/*
LI.square { list-style: square inside }
UL.plain  { list-style: none }
UL.check  { list-style: url(/LI-markers/checkmark.gif) circle }
OL        { list-style: upper-alpha }
OL OL     { list-style: lower-roman inside }
*/

/* Font families:

Serif
Sans-serif
Monospace
*/
