{% extends "_base.html" %}

{% block content %}

<h2>Spicy Eggplant</h2>
    <img src="/assets/img/recipes/spicy-eggplant.jpg" alt="Potato curry">
<h3>Ingredients</h3>
<ul>
    <li>cooking oil</li>
    <li>1 large eggplant, diced</li>
    <li>1 medium-sized onion, chopped</li>
    <li>1 medium/small red bell pepper</li>
    <li>1 medium/small green bell pepper</li>
    <li>1 teaspoon of cinnamon</li>
    <li>1 ground nutmeg</li>
    <li>1 spoon of cumin</li>
    <li>1 spoon of ginger</li>
    <li>ground red pepper</li>
    <li>1 basil leave</li>
    <li>soy sauce</li>
    <li>2 spoons of brown sugar</li>
    <li>1 minced garlic clove</li>
    <li>1 spoon of ground black pepper</li>
</ul>

<h3>Preparation</h3>
<p>
    Heat some cooking oil in a wok. Note that the eggplant absorbs a lot of it,
    so use plenty to avoid it sticking/burning/drying out. Add a couple of
    spoonfulls of ground red pepper and stir plenty. Once the oil is heated up,
    add the eggplant, and let it cook for 2-3 minutes.
    <br>
    After those 2-3 minutes, add the onions, bell peppers, nutmeg, garlic,
    and cinnamon.
    Let that cook for another 2-3 minutes.
    <br>
    Finally, add the remaining ingredients, and cook for a few last minutes

{% endblock %}
